
.header {
    height: 3.75rem;
    background-color: var(--navFooder);
}

.navbar-neup {
  background-color: var(--nav-bg);
  padding: 1rem 2rem;
}

.navbar-neup .navbar-brand {
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--letra);
}

.navbar-neup .nav-link {
  color: var(--nav-link);
  font-weight: 600;
}

.navbar-neup .nav-link:hover {
  color: var(--nav-link-hover);
}

.navbar-neup .nav-link.active {
  color: var(--blanco);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--nav-btn-naranja);
  opacity: 1;
}

.navbar-neup .btn-outline-success {
  color: var(--blanco);
  border-color: var(--blanco);
  background-color: transparent;
}

.navbar-neup .btn-outline-success:hover {
  background-color: var(--blanco);
  color: var(--nav-bg);
}

.navbar-neup .btn-success {
  background-color: var(--nav-btn-naranja);
  border-color: var(--nav-btn-naranja);
  color: var(--blanco);
}

.navbar-neup .btn-success:hover {
  background-color: var(--nav-btn-naranja-hover);
  border-color: var(--nav-btn-naranja-hover);
}

#registro1{
    left: 28.125rem;
   
}

#InicioSesion{
    left: 3.125rem;
}

.nav__btnSesion{
    margin-right: 0.625rem;
    display: flex;
    justify-content: flex-end;
}

#logueado {
    width: 100%;
    gap: 0.625rem;
}

.Nom_usuario {
    color: var(--blanco);
}

.cerrar{
    width: auto;
    padding: 1px 1.625rem;
}