@import "./variables/var.css";
@import "./variables/sizzesvar.css";
@import "./index.css";
@import "./Registro.css";
@import "./layout/navbar.css";
@import "./layout/footer.css";
@import "./perfil.css";
@import "./dietas.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
