@import "./variables/var.css";
@import "./variables/sizzesvar.css";
@import "./Registro.css";
@import "./layout/navbar.css";
@import "./layout/footer.css";
@import "./perfil.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--letra);
}