:root {
    --negro: black;
    --navFooder: #0F3A33;
    --blanco: #fff;
    --letra: "Jacques Francois", serif;
    --botonesSecciones: #F25E07;
    --transparente: #f2f2f254;
    --sombra: #00000080;
}

